   body {
    background: transparent;
  }
  
  .creditcard {
    width: 480px;
    height: 330px;
    font-family: papyrus, sans-serif;  
    margin: 3rem auto;
  }
  
  .top-card {
    width: 480px;
    height: 100px;
    background-color: #282c34;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #f2f5f7;
  }
  
  .bottom-card {
    height: 200px;
    width: 480px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    position: absolute;
  }
  
  .payment {
    margin-left: 25px;
    margin-top: 30px;
    position: absolute;
    font-size: 20px;
  }
  
  .visa {
    float: right;
    margin-right: 30px;
    margin-top: 32px;
    font-size: 40px;
  }
  
  .card-holder-element {
    width: 210px;
    float: left;
    margin-left: 30px;
  }
  
  .card-number-element {
    width: 240px;
    float: right;
  }
  
  .row-1-grey {
    color: grey;
    margin-bottom: 5px;
  }
  
  .textbox1 {
    border: 1px solid #bababa;
    border-radius: 3px;
    padding: 12px;
    font-weight: bold;
    width: 160px;
    max-height: 15px;
  }
  
  .textbox2,
  .textbox3 {
    border: 1px solid #bababa;
    border-radius: 3px;
    padding: 12px;
    font-weight: bold;
    width: 100px;
    max-height: 15px;
  }
  
  .textbox3 {
    width: 80px;
    margin-left: 7px;
  }
  
  .expiry-date-element {
    width: 110px;
    float: left;
    margin-left: 30px;
  }
  
  .cvv-element {
    width: 110px;
    float: left;
    margin-left: 21px;
  }
  
  .row-2-grey {
    color: grey;
    margin-bottom: 5px;
  }
  
  select {
    -webkit-appearance: none;
    font: 14px papyrus, sans-serif;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-color: #bababa;
    width: 110px;
    padding: 12px;
    border-radius: 3px;
    background: #FFFFFF url('https://i.imgur.com/hRbauFc.png') no-repeat scroll right center;
  }

  .creditbutton{
    font: inherit;
    cursor:pointer;
    background-color: #282c34;
    border: 1px solid #282c34;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    width: 40%;
    margin-left: 10px;
    margin-top: 9px;
  }